<h2 class="center">&Iacute;ndice</h2>
<hr/>
<ul class="listado">
    <li><a href="{{app.path}}/Agentes/help">Agentes/Usuarios</a></li>
    <li><a href="{{app.path}}/Contratos/help">Contratos</a></li>
    <li><a href="{{app.path}}/Articulos/help">Art&iacute;culos</a></li>
    <li><a href="{{app.path}}/Clientes/help">Clientes</a></li>
    <li><a href="{{app.path}}/Empresas/help">Empresas y Sucursales</a></li>
</ul>
